body
{
	margin-left:0px;
	margin-right:0px;
	margin-top:0px;
	margin-bottom:0px;
}
.Header
{
	background:../images/menu-head-bg.gif;
	background-color:#ffcc00; 
	font-family: Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight: bold;
	text-align: Left;
}
.SubHeader
{
	font-family: Arial, Helvetica, sans-serif;
	font-size:13px;
	font-weight: bold;
	text-align: Left;
}

.DataGridFixedHeader 
{ background-color: #A2B5E7; 
	position:relative; 
	font-family: Verdana, Arial;
	font-size:13;
	font-weight: bold;
	text-align: left;
	border: verdana,2,block;
}

.AlternateSection1
{
	font-size :14px;
	color:Black; 
	font-family :Verdana Arial;
	font-weight: bold;
	background-color: #EEEEEE;
	text-align: Left;
	
}
	.AlternateSection2
{
	font-size :14px; 
	color:Black; 
	font-family :Verdana Arial;
	font-weight: bold;
	text-align: Left;
	background-color: #FFFFFF;
}
.FormatToControls
{
	font-size:15px; 
	color:Black; 
	font-family: Arial,Verdana;
	text-align: Left;
}
.FieldNames
{
	font-weight :bold ;
	font-size :14px;
	color :Black ;
	font-family :Verdana Arial;
	text-align :right; 
}
.NoteMsg
{
	font-weight: normal;
	list-style-position: outside;
	font-size: 10pt;
	color: #F52887;
	font-style: normal;
	font-family :Verdana Arial;
	list-style-type: disc;

}
A:link	{	
	text-decoration:	none;
	color:	#3333cc;
	}	
A:visited	{	
	text-decoration:	none;
	color: #333399;
	}	
		
A:active	{	
	text-decoration:	none;
	color:	Green;
	}	
		
A:hover	{	
	text-decoration:	underline;
	color:	Green;
	}
