<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="devExpress">
      <section name="settings" type="DevExpress.Web.ASPxClasses.SettingsConfigurationSection, DevExpress.Web.v10.2, Version=10.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="compression" type="DevExpress.Web.ASPxClasses.CompressionConfigurationSection, DevExpress.Web.v10.2, Version=10.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="themes" type="DevExpress.Web.ASPxClasses.ThemesConfigurationSection, DevExpress.Web.v10.2, Version=10.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="errors" type="DevExpress.Web.ASPxClasses.ErrorsConfigurationSection, DevExpress.Web.v10.2, Version=10.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=BDC-SQLD002.na.pg.com\DEVNT210;Initial Catalog=mureo;User id = MUREO_Admin; Password = admin" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="ServerName" value="mureo.pg.com"/>
    <add key="SMTP" value="mail1.pg.com"/>
    <!--<add key="SMTP" value="clev.vertexcs.com"></add>
		<add key="SMTP" value="DummySMTP"></add> -->
    <add key="CloseOutCompleteEOMail" value="sreevani.j@vertexcs.com"/>
    <add key="CloseOutCompleteEO" value="sreevani.j@vertexcs.com"/>
    <add key="MasterDataCoordinatorMail" value="sreevani.j@vertexcs.com"/>
    <add key="MasterDataCoordinator" value="sreevani.j@vertexcs.com"/>
    <add key="PurchasingContactsToMail" value="sreevani.j@vertexcs.com"/>
    <add key="PurchasingContacts" value="sreevani.j@vertexcs.com"/>
    <add key="AnalyticalServices" value="sreevani.j@vertexcs.com"/>
    <add key="ConnectionString" value="Server = BDC-SQLD002.na.pg.com\DEVNT210;Database = mureo; User id = MUREO_Admin; Password = admin;Connect Timeout=45"/>
    <!-- end local DB -->

    <!-- for Developement-->
    <!-- <add key="ServerName" value="HYDPC055"/>-->
    <!-- <add key="ConnectionString" value="Server = 192.168.1.247\DEV;Database = mureo; User id = mureo_admin; Password = admin;Connect Timeout=45"/>-->
    <!--<add key="ConnectionString" value="Server = BDC-SQLP002\PRDNP210;Database = mureo; User id = MUREO_Admin; Password = admin;Connect Timeout=45"/>  -->

    <!--<add key="SMTP" value="clev.vertexcs.com"></add>
		<add key="SMTP" value="DummySMTP"></add>
		<add key="CloseOutCompleteEOMail" value="sreevani.j@vertexcs.com"/>
		<add key="CloseOutCompleteEO" value="sreevani.j@vertexcs.com"/>
		<add key="MasterDataCoordinatorMail" value="sreevani.j@vertexcs.com"/>
		<add key="MasterDataCoordinator" value="sreevani.j@vertexcs.com"/>
		<add key="PurchasingContactsToMail" value="sreevani.j@vertexcs.com"/>
		<add key="PurchasingContacts" value="sreevani.j@vertexcs.com"/>
		<add key="AnalyticalServices" value="sreevani.j@vertexcs.com"/> -->
    <!-- End of Developement -->

    <!--	for production  
		<add key="ServerName" value="mureo.pg.com"/>
		<add key="ConnectionString" value="Server = BDC-SQLP002\PRDNP210;Database = mureo; User id = MUREO_Admin; Password = admin;Connect Timeout=45"/> 
		<add key="SMTP" value="smtpgw.pg.com"></add>
		<add key="CloseOutCompleteEOMail" value="Peddenpohl.DR@pg.com"/>
		<add key="CloseOutCompleteEO" value="Debra Peddenpohl-DR"/>
		<add key="MasterDataCoordinatorMail" value="Mitchener.ME@pg.com"/>
		<add key="MasterDataCoordinator" value="Michele Mitchener-ME"/>
		<add key="PurchasingContactsToMail" value="Eggers.MK@pg.com"/>
		<add key="PurchasingContacts" value="Michelle Eggers-MK"/>
		<add key="AnalyticalServices" value="Rodney Eckstein-RJ"/>-->

    <!-- End of production -->


    <!--<add key="ServerName" value="inhynb22"/>-->
    <add key="MailLog" value="Yes"/>

    <!-- Udaya sri comments -->
    <add key="PrjNameErrMsg" value="Please enter Project Name."/>
    <add key="PrjNameSelectErrMsg" value="Please select Project Name."/>
    <add key="CategoryErrMsg" value="Please select Category."/>
    <add key="BrandErrMsg" value="Please select Brand Segment."/>
    <add key="PrjTypeErrMsg" value="Please select Project Type."/>
    <add key="PrjEditErrMsg" value="Project update failed."/>
    <add key="PrjInsertErrMsg" value="Project Insert failed."/>
    <add key="EventInsertErrMsg" value="Event Insert failed."/>
    <add key="PrjselErrMsg" value="Please Select Project Name."/>
    <add key="PlantNameErrMsg" value="Please Select Plant Name."/>
    <add key="DateErrMsg" value="Please Select Date."/>
    <add key="MachineErrMsg" value="Please Select Machine Type."/>
    <add key="PercentageErrMsg" value="Please enter values 0 to 100 in percentage fields."/>
    <add key="EONameSelectErrMsg" value="Please enter EO Name."/>
    <add key="EvTypeSelectErrMsg" value="Please select Event Type."/>
    <add key="PrjInsertSuccessMsg" value="Project inserted successfully."/>
    <add key="EvtInsertSuccessMsg" value="Event inserted successfully."/>
    <add key="DeleteSuccessMsg" value="Record deleted successfully."/>
    <add key="DeleteErrMsg" value="Record deleted failed."/>
    <add key="WeeksErrMsg" value="Please enter number of weeks to adjust."/>
    <add key="InsertSuccessMsg" value="Record inserted successfully."/>
    <add key="InsertErrMsg" value="Record insert failed."/>
    <add key="UnderConstruct" value="Under Construction."/>
    <add key="SelectFinalReprt" value="Please select atleast one Final Report attachment."/>
    <add key="SelectApprGrpName" value="Please select atleast one Approver Group Name."/>
    <add key="RevHistory" value="No Revision History found."/>
    <add key="NoApprover" value="No Approvers for the Group."/>


    <add key="ApproverGroupErr" value="Please enter an approver group name." />
    <add key="ApproverGrpSitePlan" value="Please select an Approver for Site Planning." />
    <add key="ApproverGrpSiteLeadership" value="Please select an Approver for Site Leadership." />
    <add key="ApproverGrpSiteQA" value="Please select an Approver for QA." />
    <add key="ApproverGrpAddSuccess" value="Approver Group Details was added successfully."/>
    <add key="ApproverGrpAddErr" value="Approver Group Details could not be added." />
    <add key="ApproverGrpUpdateSuccess" value="Approver Group Details was updated successfully. " />
    <add key="ApproverGrpUpdateFailure" value="Approver Group Details could not be updated. " />
    <add key="ApproverGrpDeleteSuccess" value="Approver Group Details was deleted successfully. "/>
    <add key="ApproverGrpDeleteFailure" value="Approver Group Details could not be deleted. "/>
    <add key="NoRecords" value="No Records found in the database. " />
    <add key="FormatException" value="Unable to Convert String to Numeric value. " />

    <!-- chary commnets -->
    <add key="BrandSegmentErr" value="Please enter Brand segment."/>
    <add key="UpdateSuccess" value="Record updated successfully."/>
    <add key="Updateerr" value="Record updated failed."/>
    <add key="DeleteSuccessMsg" value="Record deleted successfully."/>
    <add key="DeleteErrMsg" value="Record deleted failed."/>
    <add key="BrandSegmentErr" value="Please enter Brand Segment."/>
    <add key="UpdateSuccess" value="Record updated successfully."/>
    <add key="Updateerr" value="Record updated failed."/>
    <add key="KeyErrMsg" value="Please select Key."/>
    <add key="ValueErr" value="Please enter/select Value."/>
    <add key="InsertUpdateSuccess" value="Record Insert/Update successful."/>
    <add key="InsertUpdateerr" value="Record Insert/Update Failed."/>
    <add key="RecordExist" value="Record already exist."/>
    <add key="FinalRouteMSG" value="Preliminary Process not yet Approved."/>
    <add key="BasicRecordExist" value="Basic Information already exists."/>


    <!-- Bharath commnets -->
    <add key="NoRec" value="There are no items to show in this view."/>
    <add key="InsertSuccess" value="The record was inserted successfully."/>
    <add key="RecordExist" value="The record already exists."/>
    <add key="InsertError" value="The record could not be saved."/>
    <add key="DeletedSuccess" value="The record was deleted successfully."/>
    <add key="DeleteError" value="The record could not be deleted."/>
    <add key="UpdateSuccess" value="The record was updated successfully."/>
    <add key="UpdateError" value="The record could not be updated."/>
    <add key="FirstPage" value="You have reached the first page."/>
    <add key="LastPage" value="You have reached the last page."/>
    <add key="InsertDuplicateError" value="Brand Segment Name already exists."/>
    <add key="InsertMachineDuplicate" value="Paper Machine already exists."/>
    <add key="DuplicatePurchasing" value="Purchasing Contact Information already exists."/>

    <!-- vijay comments -->
    <add key="CategoryErr" value="Please select a category. "/>
    <add key="PlantErr" value="Please select a plant. "/>
    <add key="EOErr" value="Please select the EO type. "/>
    <add key="ApproverErr" value="Please select an approver from the address book" />
    <add key="FunctionErr" value="Please select a Function for this approver"/>
    <add key="SiteErr" value="Please select a Site/Plant for this approver" />
    <add key="ViewErr" value="This form cannot be viewed directly, "/>
    <add key="ApproverGroupErr" value="Please enter an Approver Group Name." />
    <add key="ApproverGrpSitePlan" value="Please select an Approver for Site Planning." />
    <add key="ApproverGrpSiteFinance" value="Please select an Approver for Site Finance." />
    <add key="ApproverGrpSiteQA" value="Please select an Approver for QA." />
    <add key="NoRecords" value="No Records found in the database. " />
    <add key="FormatException" value="Unable to Convert String to Numeric value. " />
    <add key="BudgetCtrNameErr" value="Please enter budget center name." />
    <add key="BudgetCtrAreaErr" value="Please select an area. " />
    <add key="TowelErr" value="Approver selection for Bounty is required." />
    <add key="BathErr" value="Approver selection for Charmin is required." />
    <add key="TissueErr" value="Approver selection for Puffs is required."/>
    <add key="DefaultErr" value="Approver selection for Default is required."/>
    <add key="SAPCCCErr" value="Approver selection for SAP Cost Coordinator is required." />
    <add key="DataCoNameErr" value="Coordinator name cannot be blank." />
    <add key="DataCoPhoneErr" value="Phone number cannot be blank." />
    <add key="ScopeOptionErr" value="Scope option name cannot be blank." />
    <add key="CoachingBoxMsgNameErr" value="Message Name cannot be blank." />
    <add key="CoachingBoxMsgErr" value="Message cannot be blank." />
    <add key="ExportCancelErr" value="Export in progress, Are you sure you want to close the form ? " />
    <add key="ExportAccessDenied" value="Unable to start export, Please make sure you have proper permissions!!" />
    <add key="ExportIOErr" value="Template file already open!! Please close the excel file and try again!!" />
    <add key="ExportFileAccessErr" value="Unable to access the excel template file!! Please check whether file read/write access permissions are set properly!!" />
    <add key="ExportReadOnlyErr" value="Unable to write to read only excel template file!! Please check whether file read/write permissions are set properly!! " />
    <add key="ExportAccessErr" value="Excel could not find the template file !! "/>
    <add key="BudgetCtrErr" value="Please select a Budget Center. "/>


    <!-- Sri  -->
    <add key="ChangeSuccessMsg" value="Approver Name is changed successfully."/>
    <add key="ChangeErrMsg" value="Approver Name could not be changed. "/>
    <add key="UnderConstruct" value="Under Construction."/>
    <add key="SelectPlant" value="Please select WHBC."/>
    <add key="EnterAppr" value="Please enter New Approver Name."/>
    <add key="ChangeSuccessMsg" value="Approver Name is changed successfully."/>
    <add key="ChangeErrMsg" value="Approver Name could not be changed. "/>
    <add key="UnderConstruct" value="Under Construction."/>
    <add key="SelectFinalReprt" value="Please select atleast one Final Report attachment."/>
    <add key="StUpdateSuccess" value="Sitetest is closed out succesfully."/>

    <add key="UnlockEo" value="Eo(s) Unlocked successfully."/>
    <add key="UnlockEoError" value="Error in Unlock Eo"/>
    <add key="SelectEoID" value="Please select atleast one EO Number."/>


    <!-- Abdul comments -->
    <add key="PrjLeadErrMsg" value="Please select Project Lead."/>
    <add key="EONumberErrMsg" value="Please enter EO Number."/>
    <add key="OnRouteFYIInsertSucc" value="FYI Recipients on Route record added/Updated successfully."/>
    <add key="OnRouteFYIInsertFail" value="FYI Recipeints on Route record Insertion/Updation failed."/>
    <add key="EventsBrandSegmentsEmpty" value="Brand Segments does not exist(s) for the selected category."/>
    <add key="ProjectsEmpty" value="Project(s) does not exist(s) for the selected category and BrandSegment."/>
    <add key="RecordDeleteFailure" value="Record deletion failed."/>
    <add key="EORecordStopSucc" value="Stop operation successfull."/>
    <add key="RecordDeleteFailure" value="Record deletion failed."/>
    <add key="EORecordStopSucc" value="Stop operation successfull."/>
    <add key="EORecordStopFail" value="Stop operation failed."/>
    <add key="EORecordCancelSucc" value="Cancel operation successfull."/>
    <add key="EORecordCancelFail" value="Cancel operation failed."/>
    <add key="DataGridFirstPage" value="First Page."/>
    <add key="DataGridLastage" value="Last Page."/>
    <add key="CancelSuccessMsg" value="EO record cancelled successfully."/>
    <add key="CancelErrMsg" value="EO record cancellation failed."/>
    <add key="EORecordStopSucc" value="EO record stopped successfully."/>
    <add key="EORecordStopFail" value="Stop EO record failed."/>
    <add key="EventNameSelectErrMsg" value="Please enter Event Name."/>
    <add key="EOActivationSuccess" value="EO activated successfully."/>
    <add key="EOActivationFail" value="EO activation failed."/>

    <!-- jagan -->
    <add key="InformationSucess" value="Information updated sucessfully."/>
    <add key="BrandMsg" value="This Brand segment is associated with few projects. Please update respective projects information with other brands before deleting."/>
    <add key="TestPlansMsg" value="Test plans are mandatory for Site test Close-out."/>
    <add key="FinalReportMsg" value="Final reports are mandatory for Site test Close-out."/>
    <add key="AdjustStartSuccess" value="Start Date(s) updated successfully."/>
    <add key="MailSuccess" value="Mail sent successfully to FYI."/>
    <add key="TemplatesServerPath" value="bdc-intra528.internal.pg.com"/>


  </appSettings>

  <system.web>

    <customErrors mode="Off"/>

    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="DevExpress.Web.ASPxEditors.v10.2, Version=10.2.4.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.Web.v10.2, Version=10.2.4.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="DevExpress.Data.v10.2, Version=10.2.4.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
      </assemblies>
    </compilation>
    <authentication mode="Windows" />
    <authorization>
      <!--<allow roles="Vertexcs\Administrators,Vertexcs\MUREO_Admin,Vertexcs\MUREO_Editors,Vertexcs\MUREO_Readers,&#xD;&#xA;			AP\FAMG-MUREO_Admin,CN\FAMG-MUREO_Admin,EU\FAMG-MUREO_Admin,LA\FAMG-MUREO_Admin,NA\FAMG-MUREO_Admin,&#xD;&#xA;			AP\FAMG-MUREO_Editors,CN\FAMG-MUREO_Editors,EU\FAMG-MUREO_Editors,LA\FAMG-MUREO_Editors,NA\FAMG-MUREO_Editors,&#xD;&#xA;			AP\FAMG-MUREO_Readers,CN\FAMG-MUREO_Readers,EU\FAMG-MUREO_Readers,LA\FAMG-MUREO_Readers,NA\FAMG-MUREO_Readers,FAMG-MUREO_Admin,FAMG-MUREO_Editors,FAMG-MUREO_Readers" />
      <deny users="?" />-->
      <allow users="*"/>
    </authorization>
    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>
    <httpModules>
      <add type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v10.2, Version=10.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule" />
    </httpModules>
    <pages enableViewStateMac="false"></pages>
    <httpHandlers>
      <remove verb="*" path="*.asmx" />
      <add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false" />
    </httpHandlers>
    <machineKey validationKey="D61B3C89CB33A2F1422FF158AFF7320E8DB8CB5CDA1742572A487D94018787EF42682B202B746511891C1BAF47F8D25C07F6C39A104696DB51F17C529AD3CABE"    decryptionKey="FBF50941F22D6A3B229EA593F24C41203DA6837F1122EF17" />
  </system.web>
  <system.web.extensions>
    <scripting>
      <scriptResourceHandler enableCaching="false" enableCompression="false" />
    </scripting>
  </system.web.extensions>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v10.2, Version=10.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="ScriptResource" preCondition="integratedMode" verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </handlers>

  </system.webServer>
  <devExpress>
    <settings rightToLeft="false" />
    <compression enableHtmlCompression="false" enableCallbackCompression="true" enableResourceCompression="true" enableResourceMerging="false" />
    <themes enableThemesAssembly="true" />
    <errors callbackErrorRedirectUrl="" />
  </devExpress>
  <!--<location path="Administration">
    <system.web>
      <authorization>
        <allow users="vertexcs\jagany,vertexcs\anild,vertexcs\kannan.m,vertexcs\sreevani.j,vertexcs\shilpa.p,vertexcs\siddique.a,vertexcs\azam.u"/>
				<allow roles="Vertexcs\MUREO_Admin,Vertexcs\FAMG-MUREO_Admin,AP\FAMG-MUREO_Admin,CN\FAMG-MUREO_Admin,EU\FAMG-MUREO_Admin,LA\FAMG-MUREO_Admin,NA\FAMG-MUREO_Admin"/>
				<deny users="?"/> 
      </authorization>
    </system.web>
  </location>
  <location path="Common">
		<system.web>
			<authorization>
				<allow users="vertexcs\jagany"/>
				<allow roles="Vertexcs\MUREO_Admin,AP\MUREO_Admin,CN\MUREO_Admin,EU\MUREO_Admin,LA\MUREO_Admin,NA\MUREO_Admin,
							Vertexcs\MUREO_Editors,AP\MUREO_Editors,CN\MUREO_Editors,EU\MUREO_Editors,LA\MUREO_Editors,NA\MUREO_Editors"/>
				<deny users="?"/>
			</authorization>
		</system.web>
	</location>-->
</configuration>